In [3]:
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\Deepak\Documents\GitHub\PythonDataAnalyticsCorona\CollectedData\TNCoronaCount.csv")

In [5]:
data

,District,DiagonisedCases,Deaths,RecoveredCases,ActiveCases,Population,CasesPerMillion
0,Ariyalur,542,1,468,73,"754,894",718
1,Chengalpattu,"8,553",169,"5,695","2,689","2,556,244","3,346"
2,Chennai,"79,662","1,295","62,552","15,815","4,646,732","17,144"
3,Coimbatore,"1,480",10,338,"1,132","3,458,045",428
4,Cuddalore,"1,565",6,"1,154",405,"2,605,914",601
5,Dharmapuri,260,1,103,156,"1,506,843",173
6,Dindigul,946,12,645,289,"2,159,775",438
7,Erode,451,7,196,248,"2,251,744",200
8,Kallakurichi,"1,904",6,"1,075",823,"1,370,281","1,389"
9,Kancheepuram,"4,091",53,"1,499","2,539","1,166,401","3,507"
10,Kanyakumari,"1,613",10,553,"1,050","1,870,374",862
11,Karur,207,5,145,57,"1,064,493",194
12,Krishnagiri,274,7,165,102,"1,883,731",145
13,Madurai,"6,990",124,"2,667","4,199","3,038,252","2,301"
14,Nagapattinam,383,1,183,199,"1,616,450",237
15,Namakkal,203,1,96,106,"1,726,601",118
16,Nilgiris,258,1,107,150,"735,394",351
17,Perambalur,178,1,161,16,"565,223",315
18,Pudukkottai,729,9,414,306,"1,618,345",450
19,Ramanathapuram,"1,956",38,"1,193",725,"1,353,445","1,445"
20,Ranipet,"1,645",13,796,836,"1,210,277","1,359"
21,Salem,"2,026",9,"1,024",993,"3,482,056",582
22,Sivagangai,"1,003",18,551,434,"1,339,101",749
23,Tenkasi,824,3,325,496,"1,407,627",585
24,Thanjavur,738,11,422,"1,212","2,405,890",307
25,Theni,"1,916",20,684,"1,212","1,245,899","1,538"
26,Tirunelveli,"1,935",11,935,989,"1,665,253","1,162"
27,Tirupattur,461,1,272,188,"1,111,812",415
28,Tiruppur,319,4,185,130,"2,479,052",129
29,Tiruvallur,"7,292",133,"4,014","3,145","3,728,104","1,956"
30,Tiruvannamalai,"3,224",24,"1,848","1,352","2,494,875","1,292"
31,Tiruvarur,786,1,478,307,"1,264,277",622
32,Tiruchirappalli,"1,715",27,964,724,"2,722,290",630
33,Thoothukudi,"2,497",17,"1,121","1,359","1,750,176","1,427"
34,Vellore,"3,098",10,"1,344","1,744","1,614,242","1,919"
35,Villuppuram,"1,723",20,"1,034",669,"2,093,003",823